.grid
{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.card
{
    margin:5px;
}
#add
{
    position:relative;
    margin-left:40%;
}
.fo
{
    font-size: 19px;
    font-weight:400 ;
}
.card {
    border: 2.5px solid #ddd;
    padding: 1px;
    margin: 15px;
    border-radius: 8px;
    background-color: #38a832; 
    opacity: 0.75;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .interview-details {
    list-style-type: none;
    padding: 0;
  }
  
  .item {
    margin-bottom: 10px;
  }
  
  h5 {
    margin: 0;
    font-size: 22px;
  }
  
  .fo {
    color: black; /* Change the color as needed */
  }
  #cen
  {
    position: relative;
    margin-left: 40%;
  }
  